*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  -webkit-text-size-adjust: 100%; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 50rem;
  background-color: #FFF8E2;
  text-align: center; }
  footer li {
    text-align: center;
    list-style: none;
    margin: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.4rem;
    color: #443344; }
  footer a {
    text-decoration: none;
    color: #000000; }
    footer a:visited {
      opacity: 0.5; }
  footer .socialmediaicons {
    font-size: 5rem; }
  footer p {
    margin: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black; }
  @media screen and (min-width: 481px) {
    footer ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      footer ul li {
        margin: 6rem; }
    footer .icon {
      margin: 3rem;
      font-size: 7rem; }
    footer .companyinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse; }
      footer .companyinfo p {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 2.4rem;
        color: #443344;
        margin: 4rem; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  header h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    letter-spacing: 1.6rem;
    font-size: 4rem;
    color: black;
    cursor: pointer;
    margin: 5rem; }
  header h4 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3.2rem;
    color: black;
    margin: 3rem; }
  header .headerBanner {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
    text-align: center;
    width: 100vw;
    color: white;
    background-color: black;
    height: 5rem; }

.navbar {
  display: flex;
  background-color: #FFF8E2;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 2.4rem;
  color: #443344;
  width: 100%;
  height: 8rem; }
  .navbar .hamburgerButton {
    z-index: 1000;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    left: 2rem;
    cursor: pointer; }
    @media screen and (min-width: 480px) {
      .navbar .hamburgerButton {
        display: none; } }

.shoppingCartButton {
  z-index: 800;
  font-size: 5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer; }

.myUl {
  display: none;
  z-index: 900;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FFF8E2; }
  .myUl a {
    text-decoration: none;
    color: #000000; }
    .myUl a:visited {
      opacity: 0.2; }
  .myUl li {
    text-align: center;
    list-style: none;
    margin: 2rem; }
  @media screen and (min-width: 480px) {
    .myUl {
      display: flex;
      height: 100%;
      width: 80%;
      flex-direction: row;
      justify-content: space-around; } }

#heroBackground {
  background-image: url("../IMG/ginger-single.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 90vh; }
  @media screen and (min-width: 768px) {
    #heroBackground {
      background-image: url("../IMG/ginger-double.png"); } }

#mainCheckout {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.2rem;
  color: black;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    #mainCheckout {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black; } }
  #mainCheckout .navButtons {
    margin: 5%; }
    #mainCheckout .navButtons a {
      text-decoration: none;
      color: #000000; }
  #mainCheckout h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.4rem;
    color: #443344;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 5%; }
  #mainCheckout hr {
    width: 80%;
    margin: 10%; }
  #mainCheckout .continueButton,
  #mainCheckout #completeButton {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.2rem;
    color: black;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 4rem;
    width: 50%;
    margin: 5%;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      #mainCheckout .continueButton,
      #mainCheckout #completeButton {
        width: 25%; } }
  #mainCheckout .returnButton {
    background-color: white;
    border: none;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    width: 100%; }
  #mainCheckout #information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    #mainCheckout #information #contactForm {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #mainCheckout #information #contactForm #fName,
      #mainCheckout #information #contactForm #lName,
      #mainCheckout #information #contactForm #email,
      #mainCheckout #information #contactForm #adrStreet,
      #mainCheckout #information #contactForm #adrPCode,
      #mainCheckout #information #contactForm #adrCity,
      #mainCheckout #information #contactForm #adrCountry,
      #mainCheckout #information #contactForm #adrPhone {
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.2rem;
        color: black;
        height: 40%;
        padding: 2% 0 2% 5%;
        border-radius: 5px;
        border: 1px solid #000000;
        color: #000000; }
      #mainCheckout #information #contactForm #fName,
      #mainCheckout #information #contactForm #lName,
      #mainCheckout #information #contactForm #adrPCode,
      #mainCheckout #information #contactForm #adrCity {
        width: 35%; }
      #mainCheckout #information #contactForm #email,
      #mainCheckout #information #contactForm #adrStreet,
      #mainCheckout #information #contactForm #adrCountry,
      #mainCheckout #information #contactForm #adrPhone {
        width: 80%; }
      #mainCheckout #information #contactForm #adrStreet,
      #mainCheckout #information #contactForm #adrCountry {
        margin: 5%; }
      #mainCheckout #information #contactForm .checkBox {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        color: black;
        border-radius: 5px; }
        #mainCheckout #information #contactForm .checkBox input {
          width: 24px;
          height: 24px;
          border: 1px solid #000000;
          border-radius: 5px; }
        #mainCheckout #information #contactForm .checkBox input,
        #mainCheckout #information #contactForm .checkBox label {
          margin: 5% 5% 5% 0; }
        #mainCheckout #information #contactForm .checkBox label {
          position: relative;
          top: 3px; }
  #mainCheckout #shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #mainCheckout #shipping form {
      border: 1px solid #000000;
      border-radius: 5px;
      width: 80%;
      margin: 1rem;
      padding: 2rem; }
      #mainCheckout #shipping form label {
        margin-top: 1rem; }
        #mainCheckout #shipping form label input {
          margin-right: 1rem; }
  #mainCheckout #payment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    #mainCheckout #payment #paymentInfoBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border: 1px solid #000000;
      width: 80%;
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 5%;
      margin: 5%; }
      #mainCheckout #payment #paymentInfoBox hr {
        margin: 5%;
        width: 90%; }
      #mainCheckout #payment #paymentInfoBox button {
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.6rem;
        color: black;
        border: 1px solid black;
        background-color: white;
        padding: .5rem;
        border-radius: .5rem;
        cursor: pointer;
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.2rem;
        color: black;
        margin-top: 5%; }
        #mainCheckout #payment #paymentInfoBox button:hover {
          background-color: black;
          color: white; }
      #mainCheckout #payment #paymentInfoBox img {
        width: 30%;
        margin-top: 5%; }
  #mainCheckout #review {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #mainCheckout #review #checkoutOrderInfo,
    #mainCheckout #review #checkoutTotal {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border: 1px solid #000000;
      width: 80%;
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 5%;
      margin: 5%; }
      #mainCheckout #review #checkoutOrderInfo hr,
      #mainCheckout #review #checkoutTotal hr {
        margin: 5%;
        width: 90%; }
      #mainCheckout #review #checkoutOrderInfo button,
      #mainCheckout #review #checkoutTotal button {
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.6rem;
        color: black;
        border: 1px solid black;
        background-color: white;
        padding: .5rem;
        border-radius: .5rem;
        cursor: pointer;
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.2rem;
        color: black;
        margin-top: 5%; }
        #mainCheckout #review #checkoutOrderInfo button:hover,
        #mainCheckout #review #checkoutTotal button:hover {
          background-color: black;
          color: white; }
      #mainCheckout #review #checkoutOrderInfo .total,
      #mainCheckout #review #checkoutTotal .total {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 2.4rem;
        color: #443344;
        text-transform: uppercase;
        font-weight: 700;
        color: #000000; }
    #mainCheckout #review .pContainer {
      margin: 3rem;
      text-align: start; }
  #mainCheckout #productDivContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem; }
  #mainCheckout .productDiv {
    width: 30%; }

#mainProducts {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: none;
  padding: 5% 0 5% 0; }
  #mainProducts h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.4rem;
    color: #443344;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 5%; }
  #mainProducts hr {
    width: 80%;
    border: 1px solid #000000; }
  #mainProducts #productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #mainProducts #productsContainer .eachProduct {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 5%; }
      @media screen and (min-width: 768px) {
        #mainProducts #productsContainer .eachProduct {
          width: 33.3%; } }
      #mainProducts #productsContainer .eachProduct .productImage {
        width: 50%; }
        @media screen and (min-width: 768px) {
          #mainProducts #productsContainer .eachProduct .productImage {
            width: 80%; } }
      #mainProducts #productsContainer .eachProduct div {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        @media screen and (min-width: 768px) {
          #mainProducts #productsContainer .eachProduct div {
            width: 50%; } }
        #mainProducts #productsContainer .eachProduct div p {
          color: #000000;
          margin: 2%; }
          @media screen and (min-width: 768px) {
            #mainProducts #productsContainer .eachProduct div p {
              font-family: "Roboto Mono", monospace;
              font-weight: 300;
              font-size: 1.6rem;
              color: black; } }
      #mainProducts #productsContainer .eachProduct button {
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 1.2rem;
        color: black;
        background-color: #000000;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        height: 4rem;
        width: 50%;
        margin: 5%;
        cursor: pointer; }
        @media screen and (min-width: 768px) {
          #mainProducts #productsContainer .eachProduct button {
            font-size: 1.4rem;
            width: 50%;
            height: 35px;
            margin: 5%; } }

table {
  border-collapse: collapse;
  padding: 2rem 0 2rem 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.6rem;
  color: black; }
  @media screen and (min-width: 410px) {
    table {
      margin: 0 10rem 0 10rem; } }
  table tr:last-child {
    border-bottom: none; }
  table th {
    display: none;
    width: 25%; }
    @media screen and (min-width: 410px) {
      table th {
        display: table-cell; } }
  table td {
    width: 25%; }
  table .tdQty {
    display: none; }
    @media screen and (min-width: 410px) {
      table .tdQty {
        display: table-cell; } }
  table .tdTotal {
    display: none; }
    @media screen and (min-width: 410px) {
      table .tdTotal {
        display: table-cell; } }
  @media screen and (min-width: 410px) {
    table .phoneDescription {
      display: none; } }
  @media screen and (min-width: 410px) {
    table .ghostTd {
      display: none; } }
  table .phoneRow {
    display: none;
    border-bottom: .1rem solid lightgray; }
    table .phoneRow td {
      padding-bottom: 2rem; }
    table .phoneRow #phoneRemoveBtn {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black;
      border: 1px solid black;
      background-color: white;
      padding: .5rem;
      border-radius: .5rem;
      cursor: pointer;
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.2rem;
      color: black; }
      table .phoneRow #phoneRemoveBtn:hover {
        background-color: black;
        color: white; }
    table .phoneRow input {
      width: 100%; }
    table .phoneRow .phoneUpdateBtn {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black;
      border: 1px solid black;
      background-color: white;
      padding: .5rem;
      border-radius: .5rem;
      cursor: pointer;
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.2rem;
      color: black; }
      table .phoneRow .phoneUpdateBtn:hover {
        background-color: black;
        color: white; }

.tableContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 2rem;
  text-align: center; }
  .tableContainer img {
    width: 10rem; }
    @media screen and (min-width: 410px) {
      .tableContainer img {
        width: 20rem; } }

.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  color: black; }
  @media screen and (min-width: 410px) {
    .productContainer p {
      display: none; } }
  @media screen and (min-width: 410px) and (min-width: 410px) {
    .productContainer p {
      display: table-cell; } }
  .productContainer .productSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .productContainer .productSpan p {
      display: none; }
      @media screen and (min-width: 410px) {
        .productContainer .productSpan p {
          display: inline; } }
    .productContainer .productSpan button {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black;
      border: 1px solid black;
      background-color: white;
      padding: .5rem;
      border-radius: .5rem;
      cursor: pointer;
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.2rem;
      color: black;
      margin: 1rem;
      display: none; }
      .productContainer .productSpan button:hover {
        background-color: black;
        color: white; }
      @media screen and (min-width: 410px) {
        .productContainer .productSpan button {
          font-family: "Roboto Mono", monospace;
          font-weight: 300;
          font-size: 1.6rem;
          color: black;
          display: table-cell; } }

.qtyBtn {
  display: none;
  color: white;
  font-size: 2rem;
  border: none;
  background-color: black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer; }
  @media screen and (min-width: 410px) {
    .qtyBtn {
      display: inline; } }

.tableSum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .tableSum span {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.4rem;
    color: #443344;
    margin: 1rem; }
    .tableSum span:last-of-type {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black;
      border-bottom: 1px solid black;
      padding-bottom: 1rem; }
      @media screen and (min-width: 400px) {
        .tableSum span:last-of-type {
          border: none; } }
  .tableSum #editBtn {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black;
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2rem 0 1rem 0;
    padding: 1rem;
    display: inline; }
    .tableSum #editBtn:hover {
      background-color: black;
      color: white; }
    @media screen and (min-width: 410px) {
      .tableSum #editBtn {
        display: none; } }
  .tableSum #checkoutBtn {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black;
    border: none;
    color: white;
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2rem; }
  @media screen and (min-width: 410px) {
    .tableSum {
      align-items: flex-end;
      margin: 5rem 10rem 5rem 10rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1.6rem;
      color: black; } }
  .tableSum #shopBtn {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black;
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2rem; }
    .tableSum #shopBtn:hover {
      background-color: black;
      color: white; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main img {
    max-width: 100%;
    height: auto; }
    @media screen and (min-width: 410px) {
      main img {
        width: 100%; } }
  main #contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem; }
    main #contactContainer h2 {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 3.2rem;
      color: black;
      margin: 3rem; }
    main #contactContainer h3 {
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1.6rem;
      color: black;
      margin-bottom: 2rem; }
    main #contactContainer h4 {
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 1.6rem;
      color: black; }
    main #contactContainer p {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-size: 1.6rem;
      color: black;
      margin-bottom: 2rem; }
    main #contactContainer .sectionContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main #contactContainer .sectionContainer p {
        margin: 0; }
        main #contactContainer .sectionContainer p:last-child {
          margin-bottom: 2rem; }

#confirmationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  #confirmationContainer #firstMessage,
  #confirmationContainer #secondMessage,
  #confirmationContainer button {
    margin: 10% 5% 10% 5%; }
    @media screen and (min-width: 768px) {
      #confirmationContainer #firstMessage,
      #confirmationContainer #secondMessage,
      #confirmationContainer button {
        margin: 3%; } }
  #confirmationContainer h2 {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3.2rem;
    color: black; }
  #confirmationContainer #firstMessage {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.6rem;
    color: black; }
  #confirmationContainer #secondMessage {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black; }
  #confirmationContainer button {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: black;
    border: none;
    color: white;
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 80%; }
    @media screen and (min-width: 768px) {
      #confirmationContainer button {
        width: 30%; } }
