*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  background-color: #FFF8E2;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 2.4rem;
  color: #443344;
  width: 100vw;
  height: 8rem; }
  .navbar li {
    text-align: center;
    list-style: none;
    margin: 2rem; }
  .navbar a {
    text-decoration: none;
    color: #000000; }
    .navbar a:visited {
      opacity: 0.5; }

.hamburgerButton {
  z-index: 1000;
  font-size: 5rem; }

.myUl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFF8E2; }

.productImage {
  width: 100px;
  height: 100px; }
