*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.6rem;
  color: #443344;
  -webkit-text-size-adjust: 100%; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 50rem;
  background-color: #FFF8E2;
  text-align: center; }
  footer li {
    text-align: center;
    list-style: none;
    margin: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 2.4rem;
    color: #443344; }
  footer a {
    text-decoration: none;
    color: #000000; }
    footer a:visited {
      opacity: 0.5; }
  footer .socialmediaicons {
    font-size: 5rem; }
  footer p {
    margin: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 1.6rem;
    color: #443344; }
  @media screen and (min-width: 481px) {
    footer ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      footer ul li {
        margin: 6rem; }
    footer .icon {
      margin: 3rem;
      font-size: 7rem; }
    footer .companyinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse; }
      footer .companyinfo p {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 2.4rem;
        color: #443344;
        margin: 4rem; } }

.navbar {
  display: flex;
  background-color: #FFF8E2;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 2.4rem;
  color: #443344;
  width: 100%;
  height: 8rem; }
  @media screen and (min-width: 480px) {
    .navbar {
      height: 15rem; } }
  .navbar .hamburgerButton {
    z-index: 1000;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    left: 2rem; }
    @media screen and (min-width: 480px) {
      .navbar .hamburgerButton {
        display: none; } }

.shoppingCartButton {
  z-index: 800;
  font-size: 5rem;
  position: absolute;
  top: 1rem;
  right: 2rem; }
  @media screen and (min-width: 480px) {
    .shoppingCartButton {
      top: 4rem;
      right: 8rem;
      font-size: 7rem; } }

.myUl {
  display: none;
  z-index: 900;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FFF8E2; }
  .myUl a {
    text-decoration: none;
    color: #000000; }
    .myUl a:visited {
      opacity: 0.2; }
  .myUl li {
    text-align: center;
    list-style: none;
    margin: 2rem; }
  @media screen and (min-width: 480px) {
    .myUl {
      display: flex;
      height: 100%;
      width: 80%;
      flex-direction: row;
      justify-content: space-around; } }

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1.6rem;
  color: #443344;
  margin: none;
  padding: none; }
  body #shoppingBag img {
    width: 100px; }
  body main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body main h2 {
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      font-size: 2.4rem;
      color: #443344;
      font-weight: 700;
      color: #000000;
      text-align: center;
      margin: 5%; }
    body main hr {
      width: 80%;
      border: 1px solid #000000; }
    body main #productsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body main #productsContainer .eachProduct {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%; }
        @media screen and (min-width: 768px) {
          body main #productsContainer .eachProduct {
            width: 33.3%; } }
        body main #productsContainer .eachProduct .productImage {
          width: 50%; }
          @media screen and (min-width: 768px) {
            body main #productsContainer .eachProduct .productImage {
              width: 80%; } }
        body main #productsContainer .eachProduct div {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          @media screen and (min-width: 768px) {
            body main #productsContainer .eachProduct div {
              width: 50%; } }
          body main #productsContainer .eachProduct div p {
            color: #000000;
            font-size: 1.4rem;
            margin: 2%; }
            @media screen and (min-width: 768px) {
              body main #productsContainer .eachProduct div p {
                font-size: 1.6rem; } }
        body main #productsContainer .eachProduct button {
          font-family: "Roboto Mono", monospace;
          font-weight: 300;
          font-size: 1.6rem;
          color: #443344;
          background-color: #000000;
          color: #FFFFFF;
          border: none;
          border-radius: 5px;
          font-size: 1.2rem;
          height: 30px;
          width: 70%;
          margin: 10%; }

.tableContainer {
  width: 100%; }
  .tableContainer img {
    width: 10rem; }

          @media screen and (min-width: 768px) {
            body main #productsContainer .eachProduct button {
              font-size: 1.4rem;
              width: 50%;
              height: 35px;
              margin: 5%; } }

