#mainCart {
    @include fontBody();
    text-align: center;

    h4 {
        @include fontHeading();
        margin: 3rem;
    }

    .tableContainer {
        display: flex;
        flex-direction: column;
        text-align: center;

        table {
            width: 80%;
            border-collapse: collapse;
            padding: 2rem 0 2rem 0;
        
            tr {

                th {
                    display: none;
                    width: 25%;
                }

                td {
                    width: 25%;
                }

                .productTd {

                    .productContainer {
                        @include flexCenter(row);
                        @include fontSubtitle();
                    
                            p {
                                display: none;
                            }
                        
                        .qtyBtn {
                            display: none;
                        }

                        .productSpan {
                            @include flexCenter(column);

                            img {
                                width: 10rem;
                            }

                            p {
                                display: none;
                            }

                            button {
                                @include buttonWhite();
                                @include fontBread();
                                margin: 1rem;
                                display: none;
                            }
                        }
                    }
                }
                
                .tdQty {
                    display: none;
                }

                .tdTotal {
                    display: none;
                }
            }

            .phoneRow {
                display: none;
                border-bottom: .1rem solid lightgray;

                td {
                    padding-bottom: 2rem;
                }

                #phoneRemoveBtn {
                    @include buttonWhite();
                    @include fontBread();
                }

                input {
                    width: 80%;
                }

                .phoneUpdateBtn {
                    @include buttonWhite();
                    @include fontBread();
                }
            }
        }
    }

    .tableSum {
        @include flexCenter(column);

        #editBtn {
            @include buttonWhite();
            margin: 2rem 0 1rem 0;
            padding: 1rem;
            display: inline;
        }

        span {
            @include fontTitle();
            margin: 1rem;

            &:last-of-type {
                @include fontBody();
                border-bottom: 1px solid black;
                padding-bottom: 1rem;
            }
        }
        
        #checkoutBtn {
            @include buttonBlack();
            margin: 2rem;
        }

        #shopBtn {
            @include buttonWhite();
            margin: 2rem;
        }
    }

    #errorMsg {
        @include fontSubtitle();
        cursor: pointer;
        text-align: center;
        margin: 5rem;

        @media screen and(min-width: 768px){
            @include fontHeading();
            margin: 20rem;
        }
    }

    //MEDIA QUERIES
    @media screen and(min-width:768px) {
        .tableContainer {

            table {
                @include fontSubtitle();
                    border: 1px solid black;
                    width: 90%;
                    margin: auto;    
                
                tr {

                    th {
                        display: table-cell;
                    }

                    .productTd {

                        .productContainer {

                            p {
                                display: table-cell;
                            }

                            .qtyBtn {
                                display: inline;
                                color: white;
                                font-size: 2rem;
                                border: none;
                                background-color: black;
                                border-radius: 50%;
                                height: 3rem;
                                width: 3rem;
                                cursor: pointer;
                            }

                            .productSpan {

                                img {
                                    width: 20rem;
                                }

                                p {
                                    display: inline;
                                }

                                button {
                                    @include fontBody();
                                    display: table-cell;
                                }
                            }
                        }
                    }

                    .phoneDescription {
                        display: none;
                    }

                    .ghostTd {
                        display: none;
                    }

                    .tdQty {
                        display: table-cell;
                    }

                    .tdTotal {
                        display: table-cell;
                    }
                }
            }
        }

        .tableSum {
            align-items: flex-end;
            margin: 3rem;
            @include fontSubtitle();

            #editBtn {
                display: none
            }

            span {

                &:last-of-type {
                    border: none;
                }
            }
        }
        
    }
}