#mainCheckout {
    @include flexCenter(column);
    @include fontBread();
    width: 100%;
    height: 100%;
    color: $black;
    
    h2 {
        @include fontTitle();
        font-weight: $fw-bold;
        color: $black;
        text-align: center;
        margin: 3rem;
    }
    hr {
        width: 80%;
        margin: 5rem;
    }

    #information {
        @include flexCenter(column);
        width: 100%;

        #contactForm {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            input {
                @include form();
            }

            label {
                color: red;
                width: 100%;
                text-align: center;
            }
            .checkBox {
                @include flexCenter(row);
                width: 80%;
                color: $black;
                border-radius: .5rem;
                input {
                    width: 2rem;
                    height: 2rem;
                    border: .1rem solid $black;
                    border-radius: .5rem;
                }
                #checkBoxLabel {
                    color: $black;
                    width: auto;
                }
            }
        }
        #contactForm.checked {
            opacity: 0.4;
        }
    }

    #shipping {
        @include flexCenter(column);
        width: 100%;

        #radioForm {
            @include flexCenter(column);
            border: .1rem solid $black;
            border-radius: .5rem;
            width: 80%;
           
            #radioContainer {

                justify-content: center;
                margin: 1rem;

                label,
                input {
                    margin: .5rem;
                }

                input {
                    width: 2rem;
                    height: 2rem;
                    position: relative;
                    top: .5rem;
                }

                label.error {
                    color: red;
                }
            }
        }

        .checked {
            opacity: 0.4;
        }
    }

    #payment {
        @include flexCenter(column);
        width: 100%;

        #paymentInfoBox {
            @include transferBox();

            p {
                margin: 2rem;
            }

            img {
                width: 30%;
                margin: 2rem;
            }
        }
    }

    #payment.checked {
        opacity: 0.4;
    }

    #review {
        @include flexCenter(column);
        width: 100%;
       
        #checkoutOrderInfo,
        #checkoutTotal {
            @include transferBox();
            margin: 2rem;

            h4 {
                @include fontSubtitle();
                margin: 1rem;
            }

            .pContainer {
                margin: 1rem;
            }

            p {
                margin: .5rem;
            }

            #changeBtn {
                width: 10rem;
            }

            #productDivContainer {
                @include flexCenter(row);
                flex-wrap: wrap;
                margin-bottom: 2rem;
                width: 100%;
        
                .productDiv {
                    @include flexCenter(column);
                    width: 30%;

                    img {
                        width: 10rem;
                    }
                }
            }

            .total {
                @include fontTitle();
                text-transform: uppercase;
                font-weight: $fw-bold;
                color: $black;
            }
        }
    }

    .continueBtn {
        margin-top: 3rem;
        @include buttonSlim();
    }

    .returnBtn {
        @include buttonReturn();
        margin: 2rem;
    }

    #completeBtn {
        @include fontSubtitle();
        color: white;
        padding: 3rem;
    }

    //MEDIA QUERIES
    @media screen and(min-width: 768px) {
        @include fontBody();

        hr {
            margin: 3rem;
        }

        #information {

            #contactForm {
                width: 50%;

                input {
                    @include fontBody();
                }
            }
        }
        
        #shipping {

            form {
                width: 50%;

                #radioContainer {

                    label,
                    input {
                        margin: 1rem;
                    }
                }
            }
        }

        #review {

            h2 {
                margin: 0;
            }
        }
    }
}

.modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) no-repeat;

    p {
        @include fontHeading();
        margin-left: 3rem;
        z-index: 3000;
    }

    @media screen and(min-width: 768px) {
        p {
            @include fontLogotype();
        }
    }
    
}

body.loading .modal {
    overflow: hidden;
    display: flex;
}