#confirmationContainer {
    @include flexCenter(column);
    text-align: center;
    margin: 5%;
    .logotype {
        @include fontLogotype();
    }
    h2,
    #firstMessage,
    #secondMessage,
    button {
        margin: 15% 5% 15% 5%;
        @media screen and(min-width: 768px) {
            margin: 5%;
        }
    }
    h2 {
        @include fontHeading();
    }
    #firstMessage {
        @include fontSubtitle();
    }
    #secondMessage {
        @include fontBody();
    }
    button {
        @include buttonBlack();
        width: 80%;
        @media screen and(min-width: 768px) {
            width: 30%;
        }
    }
}