#confirmationContainer {
    @include flexCenter(column);
    text-align: center;
    //margin: 5%;
    
    #firstMessage,
    #secondMessage,
    button {
        margin: 10% 5% 10% 5%;
        @media screen and(min-width: 768px) {
            margin: 3%
        }
    }

    h2 {
        @include fontHeading();
    }

    #firstMessage {
        @include fontSubtitle();
    }

    #secondMessage {
        @include fontBody();
    }
    
    button {
        @include buttonBlack();
        width: 80%;
        @media screen and(min-width: 768px) {
            width: 30%;
        }
    }

    #orderSummary {
        border: 1px solid black;
        
    }
}