#mainContact {
    @include flexCenter(column);

     #iceMan {
        max-width: 100%;
        height: auto;
    }

    #contactBackground {
        display:hidden;
    }

    #contactContainer {
        @include flexCenter(column);
        margin-bottom: 3rem;

        h2 {
            @include fontHeading();
            margin: 3rem;
        }

        h3 {
            @include fontSubtitle();
            margin-bottom: 2rem;
        }

        h4 {
            @include fontSubtitle();
        }

        p {
            @include fontBody();
            margin-bottom: 2rem;
        }

        .sectionContainer{
            @include flexCenter(column);

            p {
                margin:0;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    
    //MEDIA QUERIES
    @media screen and(min-width: 768px) {
        #iceMan {
            visibility: hidden;
            height: 0;
            width: 0;
        }

        #contactBackground {
            background-image: url("../IMG/iceman.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80vh;
            width: 100%;
        }
    }
}