#mainProducts {
    @include fontBread();
    @include flexCenter(column);
    padding: 5% 0 5% 0;
    @media screen and(min-width: 410px) {
        @include fontBody();
    }
    h2 {
        @include fontHeading();
        margin: 5%;
        @media screen and(min-width: 410px) {
            margin: 0;
        }
    }
    #productsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and(min-width: 768px) {
            width: 80%;
            justify-content: space-evenly;
            margin: auto;
        }

        .eachProduct {
            width: 50%;
            @include flexCenter(column);
            margin-top: 5%;
            @media screen and(min-width: 768px) {
                width: 33.3%;
            }
            .productImage {
                width: 50%;
                
                @media screen and(min-width: 768px) {
                    box-shadow: 2px 2px 10px lightgray;
                    width: 80%;
                }
            }
            div {
                width: 70%;
                display: flex;
                // flex-direction: column;
                // justify-content: flex-start;

                @include flexCenter(column);

                @media screen and(min-width: 768px) {
                    width: 50%;
                }
                p {
                    align-self: flex-start;
                    color: $black;
                    width: 80%;
                    @media screen and(min-width: 768px) {
                        @include fontSubtitle();
                    }
                }
            }

            .descDiv {
                margin-top: 3rem;
            }

            .addCartBtn {
                @include buttonBlack();
                align-self: flex-end;
                @include flexCenter(column);
                height: 4rem;
                width: 4rem;
                cursor: pointer;
                
                i {
                    font-size: 2rem;
                }
                @media screen and(min-width: 768px) {
                    @include buttonBlack();
                }
            }
        }
        #cartBtnContainer {
            @include flexCenter(column);
            width: 100vw;
            #goCartBtn {
                @include buttonWhite();
                margin-top: 2rem;
                @media screen and(min-width: 768px) {
                    padding: 2rem;
                    margin-top: 6rem;
                }
            }
        }
    }
}