#mainProducts {
    @include fontBread();
    @include flexCenter(column);
    margin: none;
    padding: 5% 0 5% 0;
    h2 {
        @include fontTitle();
        font-weight: $fw-bold;
        color: $black;
        text-align: center;
        margin: 5%;
    }
    hr {
        width: 80%;
        border: 1px solid $black;
    }
    #productsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .eachProduct {
            width: 50%;
            @include flexCenter(column);
            margin-top: 5%;
            @media screen and(min-width: 768px) {
                width: 33.3%;
            }
            .productImage {
                width: 50%;
                @media screen and(min-width: 768px) {
                    width: 80%;
                }
            }
            div {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @media screen and(min-width: 768px) {
                    width: 50%;
                }
                p {
                    color: $black;
                    margin: 2%;
                    @media screen and(min-width: 768px) {
                        @include fontBody();
                    }
                }
            }
            button {
                @include fontBread;
                background-color: $black;
                color: $white;
                border: none;
                border-radius: 5px;
                height: 30px;
                width: 70%;
                margin: 10%;
                @media screen and(min-width: 768px) {
                    font-size: 1.4rem;
                    width: 50%;
                    height: 35px;
                    margin: 5%;
                }
            }
        }
    }
}