header {

    @include flexCenter(column);

    h1 {
        @include fontLogotype();
        margin: 5rem;
    }

    h4 {
        @include fontHeading();
        margin: 3rem;
    }

    .headerBanner {
        @include fontSubtitle();
        text-align: center;
        width: 100vw;
        color: white;
        background-color: black;
        height: 5rem;
    }
}
