.navbar {
    @include fontTitle();
    background-color: $primary-alt;
    width: 100%;
    padding: 5%;
    height: 8rem;

    .hamburgerBtn {
        width: 30%;
        position: absolute;
        top: 2rem;
        left: 3rem;
        z-index: 1000;
        font-size: 3rem;
        cursor: pointer;
    }

    .myUl {
        @include flexCenter(column);
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        height: 100vh;
        width: 100vw;
        background-color: $primary-alt;

        a {
            text-decoration: none;
            color: $black;
            &:visited {
                opacity: 0.2;
            }
        }

        li {
            z-index: 2000;
            text-align: center;
            list-style: none;
            margin: 2rem;
        }
    }

    .shoppingCartBtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 800;
        font-size: 3rem;
        cursor: pointer;

        #counterContainer {
            @include flexCenter(column);
            position: absolute;
            top: 0;
            border: 1px solid $primary;
            right: -5px;
            background-color: black;
            color: $primary;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
        }
    }

    @media screen and(min-width: 768px) {
        justify-content: space-around;
        height: 8rem;
        padding: 0;
        font-size: 1.6rem;

        .hamburgerBtn {
            display: none;
        }

        .myUl {
            display: flex;
            position: relative;
            height: 100%;
            width: 80%;
            flex-direction: row;
            justify-content: space-around;
        }

        .shoppingCartBtn {
                margin-right: 2rem;
        }
    }
}