@mixin buttonWhite {
    @include fontBody();
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}

@mixin buttonBlack {
    @include fontBody();
    border: none;
    color: white;
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}