@mixin buttonWhite {
    @include fontBody();
    border: .1rem solid $black;
    background-color: $white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        background-color: $black;
        color: $white;
    }
}

@mixin buttonBlack {
    @include fontBody();
    border: none;
    color: $white;
    background-color: $black;
    padding: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

@mixin buttonReturn {
    background-color: $white;
    border: none;
    @include fontBread();
    cursor: pointer;
}

@mixin buttonSlim {
    @include fontBread();
    background-color: $black;
    color: $white;
    border: none;
    border-radius: .5rem;
    padding: 2rem;
    margin: 5%;
    cursor: pointer;
}