#cart--number {
    min-width: .7rem;
    min-height: .7rem;
    padding: 0 .9rem;
    line-height: 1.7rem;
    background: $primary-txt;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .shoppingCartButton.cart--text {
        ;
        font-size: 4rem;
        cursor:pointer;
        display:inline-block;
      
  }

  .cart-box {
    position:relative;
  }

  