@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin fontHeading() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-heading;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontTitle() {
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-title;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontSubtitle() {
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-subtitle;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontBody() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-body;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontBread() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-bread;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontLogotype() {
    font-family: $ff-roboto;
    font-weight: $fw-bold;
    letter-spacing: 1.6rem;
    font-size: $fs-logotype;
    color: $primary-txt; //color variable set elsewher
    cursor: pointer;
}

// @mixin fontPreset($type) {
//     @include body {}
// }
@mixin transferBox() {
    @include flexCenter(column);
    text-align: center;
    border: 1px solid $black;
    width: 80%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5%;
    hr {
        margin: 5%;
        width: 90%
    }
    button {
        @include buttonWhite();
        @include fontBread();
        margin-top: 5%;
    }
}

@mixin form() {
    @include fontBread();
    height: 40%;
    padding: 2% 0 2% 5%;
    border-radius: 5px;
    border: 1px solid $black;
    color: $black;
    width: 80%;
    margin: 1rem;
}