@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition($time) {
    -webkit-transition: ($time);
    -o-transition: ($time);
    -ms-transition: ($time);
    -moz-transition: ($time);
    transition: ($time);
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin fontHeading() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-heading;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontTitle() {
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-title;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontSubtitle() {
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-subtitle;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontBody() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-body;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontBread() {
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-bread;
    color: $primary-txt; //color variable set elsewhere
}

@mixin fontLogotype() {
    font-family: $ff-roboto;
    font-weight: $fw-bold;
    letter-spacing: 1.6rem;
    font-size: $fs-logotype;
    color: $primary-txt; //color variable set elsewhere
    cursor: pointer;
}

@mixin transferBox() {
    @include flexCenter(column);
    text-align: center;
    border: 1px solid $black;
    width: 80%;
    border-radius: .5rem;
    padding: 3rem;

    @media screen and(min-width: 768px) {
        width: 50%;
        @include fontBody();
    }

    hr {
        margin: 5%;
        width: 90%
    }
    
    button {
        @include buttonWhite();
        @include fontBody();
        margin-top: 5%;
    }
}

@mixin form() {
    @include fontBread();
    height: 40%;
    padding: 2% 0 2% 5%;
    border-radius: .5rem;
    border: .1rem solid $black;
    color: $black;
    width: 80%;
    margin: 1rem;
}