@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin fontHeading() { //
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-heading;
    color: $primary-txt; //color variable set elsewher
}

@mixin fontTitle() { //
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-title;
    color: $primary-txt; //color variable set elsewher
}

@mixin fontSubtitle() { //
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-size: $fs-subtitle;
    color: $primary-txt; //color variable set elsewher
}

@mixin fontBody() { //
    font-family: $ff-roboto;
    font-weight: $fw-light;
    font-size: $fs-body;
    color: $primary-txt; //color variable set elsewher
}

@mixin fontLogotype() { //
    font-family: $ff-roboto;
    font-weight: $fw-bold;
    letter-spacing: 0.5rem;
    font-size: $fs-logotype;
    color: $primary-txt; //color variable set elsewher
}






// vi skriver include fontPresets där vi måste definera 3 parametrar varje gång

// vs 

// skriva include med definerade presets