//colors

$primary: #FFFFFE;
$primary-alt: #FFF5D3;
$secondary: #FDFBF4; 
$secondary-alt: #FFF8E2;


$primary-txt: #443344;

$black: #000000;
$white: #FFFFFF; 


// font weight fw

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

//font size fs

$fs-heading: 3.2rem;
$fs-title: 2.4rem;
$fs-subtitle: 1.6rem;
$fs-body: 1.6rem;
$fs-logotype: 4rem;



//font family ff

$ff-roboto: 'Roboto Mono', monospace;




